*{
  box-sizing:border-box;
}

body {
  margin:0;
  overflow-x: hidden;
}

.container {
  background:cornflowerblue;
  height:100vh; /**vh=viewport height=size window is**/
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
}

.circle {
  background:blanchedalmond;
  height:200px;
  width:200px;
  border-radius:200px;
  animation: pulse 2s infinite alternate ease-in-out;
  border: double red;
  border-width:6px;
/**  animation-name: pulse;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-timing-function:ease-in-out; **/
}


.square {
  background:blanchedalmond;
  height:200px;
  width:200px;
  animation: spin 2s infinite alternate ease-in-out;
  border: double red;
  border-width:6px;
}

.runner {
  background:blue;
  position:fixed;
  width:250px;
  height:20px;
  bottom:0;
  left:0;
  animation: move 5s infinite;
}

/**animation: pulse 2s infinite alternate ease-in-out;**/


@keyframes pulse {
  0% {
    background:blanchedalmond;
    transform:scale(50%);
  }

  100% {
    background:magenta;
    transform:scale(100%);
  }
}

@keyframes spin {
  0% {
    transform:rotate(0) scale(50%);
  }

  100% {
    transform:rotate(360deg) scale(100%);
    background:orange;
  }
}

@keyframes move {
  0% {
    transform:translateX(-500px);
  }
  100% {
    transform:translateX(100vw);
  }
}
