*{
  box-sizing:border-box;
}

.container {
  background: orange;
  height: 600px;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: center; /**main axis**/
  align-items: flex-start;
  /**align-content: flex-start;**/
  gap: 30px;
  padding: 30px;
}

.item {
  background: lightblue;
  height: 40px;
  margin: 10px;
  width: 200px;
  justify-content: center;
  align-items: center;
}
